{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form class="lg:tw-grid tw-col-start-2 tw-grid-cols-3 tw-gap-4 tw-col-span-5" {{ attributes }}>
  {{ children }}
</form>
